@model iBlog.Models.PostItem

<div class="well">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                @{
                    var url = Url.RouteUrl("Post", new { year = Model.Post.PostYear, month = Model.Post.PostMonth, url = Model.Post.Url, status = string.Empty });
                }
                <a href="@url" style="font-family: 幼圆;">@Model.Post.Title</a>
            </h3>
        </div>
    </div>
    <div>
        <p>@Html.Raw(Model.Post.Content)</p>
        <div class="row post-details">
            <div class="col-lg-3">
                @Html.Partial("Tags", Model.Post.Tags)
            </div>
            <div class="col-lg-3"></div>
            <div class="col-lg-3"></div>
            <div class="col-lg-3" id="user-comments" style="text-align: right;">
                @{
                    var count = Model.Post.Comments != null ? Model.Post.Comments.Count : 0;
                    @count <a href="@(url + "#user-comments")">Comments</a>
                }
            </div>
        </div>
    </div>
</div>